Source: golang-x509keyserver
Section: devel
Priority: extra
Maintainer: Caoimhe Chaos <caoimhechaos@protonmail.com>
Homepage: http://x509.ancient-solutions.com/
Build-Depends: debhelper (>= 9), golang-go, dh-golang, golang-goprotobuf-dev,
 golang-urlconnection-dev, golang-cassandra-dev, golang-etcd-dev,
 protobuf-compiler
Standards-Version: 3.9.5
Vcs-Git: http://git.ancient-solutions.com/nettools/x509keyserver.git
Vcs-Browser: http://git.ancient-solutions.com/cgi-bin/gitweb.cgi?p=nettools/x509keyserver.git;a=summary

Package: x509keyserver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, run-as-daemon
Description: X.509 key server implementation in Go
 x509keyserver is an X.509 keyserver implementation written in Go. It uses
 cassandra to store X.509 certificates and to retrieve them by index.

Package: golang-x509keyserver-dev
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, golang-urlconnection-dev,
 golang-goprotobuf-dev, golang-cassandra-dev, golang-urlconnection-dev
Description: Library for the X.509 key server
 Client library for requesting certificates from the X.509 keyserver.
 The library keeps a cache of certificates of a given size and will
 remove them in last-recently-used order.
